@import 'tailwindcss';

#vue-inspector-container,
#__vue-devtools-container__ {
  @apply print:hidden;
}

.lucide {
  @apply w-4 h-4 stroke-1;
  position: relative;
}

.lucide * {
  vector-effect: non-scaling-stroke;
}

@theme {
  --text-2xs: 0.65rem;
  --text-3xs: 0.55rem;
}
